prune **/__pycache__
global-exclude *.py[cod]
recursive-include fletx/cli *.py *.tpl
recursive-include fletx/core *.py
recursive-include fletx/decorators *.py
recursive-include fletx/navigation *.py
recursive-include fletx/utils *.py
recursive-include fletx/widgets *.py
